<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<title></title>

	<link href="lib/ionic/css/ionic.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
	<link href="css/ionic.app.css" rel="stylesheet">
	-->

	<!-- ionic/angularjs js -->
	<script src="lib/ionic/js/ionic.bundle.js"></script>

	<!-- cordova script (this will be a 404 during development) -->
	<script src="cordova.js"></script>

	<!-- your app's js -->
	<script src="js/app.js"></script>
</head>
<body ng-app="soundboard">

<ion-pane ng-controller="SoundBoardCtrl">
	<ion-header-bar class="bar-energized">
    <div class="buttons">
    <button class="button button-icon ion-ios-minus-outline" ng-click="model.showDelete = !model.showDelete; model.showMove = false;"></button>
    </div>

		<h1 class="title">Soundboard</h1>

    <div class="buttons">
      <button class="button" ng-click="model.showMove = !model.showMove; model.showDelete = false;">
        Move
      </button>
    </div>
	</ion-header-bar>
	<ion-content>

		<ion-list show-delete="model.showDelete" show-reorder="model.showMove">
      <ion-item class="item-avatar-left item-icon-right item-remove-animate" ng-repeat="sound in model.sounds" ng-click="play(sound)">
        <img ng-src="{{ sound.image }}" alt="">
        <h2>{{ sound.title }}</h2>
        <p>{{ sound.desc }}</p>
        <i class="icon ion-volume-high"></i>

        <ion-delete-button ng-click="deleteSound($index)" class="ion-minus-circled"></ion-delete-button>
        <ion-reorder-button class="ion-navicon" on-reorder="moveSound(sound, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
		</ion-list>

	</ion-content>
</ion-pane>
</body>
</html>
